.productcheckout__ {
	background-color: black;
	color: #adadad;
	padding: 5% 10% 5% 10%;
}
.productcheckout_details__ {
	padding-right: 5%;
}
.productcheckout_description {
	width: 70%;
}
.productcheckout_button {
	border: 5px solid #adadad;
	color: #adadad;
	border-radius: 30px;
	width: 200px;
	text-align: center;
	margin-top: 5%;
}
