.header {
	background-color: #333333;
	color: #adadad;
	margin-bottom: 10px;
}
.header_brand {
	padding-right: 30%;
}
.header Button {
	color: #adadad;
	display: flex;
}
.header_row {
	display: flex;
}
.header_button {
	margin-right: 30px;
}
.header_link {
	text-decoration: none;
}
sup {
	color: #adadad;
}
