.footer {
	background-color: #333333;
	color: #adadad;
	padding: 10%;
}
.footer_header {
	color: #fff;
	padding-bottom: 10px;
}
.footer_item p {
	color: #adadad;
	text-decoration: none;
	padding-bottom: 10px;
}
